body{
    background-color: #001d21;
}
.navbar{
    display: flex;
    background-color: #606263;
    margin: 0;
}
.logo img{
    width: 2.3rem;
    margin-right: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.webname{
    margin-right: 2rem;
    font-size: 2rem;
    font-family: arial;
    color: white;
}
.ppr{
    display: flex;
    font-size: 1.2rem;
    color: white;
    font-family: arial;
    align-items: center;
    cursor: pointer;
}

.products{
    margin-right: 2rem;  
    transition: 0.16s; 
}
.products:hover{
    color: rgb(103, 157, 103);
}
.products:active{
    color: rgb(59, 98, 59);
}
.resources{
    margin-left: 2rem;
    transition: 0.16s; 
}
.resources:hover{
    color: rgb(103, 157, 103);
}
.resources:active{
    color: rgb(59, 98, 59);
}
.pricing{
    transition: 0.16s; 
}
.pricing:hover{
    color: rgb(103, 157, 103);
}
.pricing:active{
    color: rgb(59, 98, 59);
}
.btn{
    margin-left: 35rem;
    margin-top: .8rem;
    cursor: pointer;
}
.signin{
    background-color: rgb(103, 157, 103);
    border: none;
    padding: 6px 8px;
    color: white;
    font-family: arial;
    cursor: pointer;
    margin-right: 1rem;
    font-weight: bold;
    transition: 0.16s;
}
.signin:hover{
    background-color: rgb(59, 98, 59);
}
.signin:active{
    background-color: rgb(48, 80, 48);
}
.gtstart{
    padding: 6px 8px;
    background-color: white;
    border: none;
    border-radius: .2rem;
    color: black;
    cursor: pointer;
    font-weight: bold;
    transition: .16s;
}
.gtstart:hover{
    background-color: black;
    color: white;
}
.gtstart:active{
    opacity: .7;
}