*{
    padding: 0;
    margin: 0;
    font-family: arial;
    color: white;
}
body{
    background-color: #001d21;
}

.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    /* background-color: #001d21; */
    align-items: center;
    background-color: rgb(170, 165, 165);
    padding-bottom: .2rem;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    cursor: pointer;
}
.logo img{
    width: 2rem;
    /* margin-right: 1rem; */
    margin-left: .5rem;
}
.logo p{
    font-size: 2rem;
    font-weight: bold;
}
.pages{
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    width: 20rem;
    align-items: center;
    cursor: pointer;
}
.products-tab{
    transition: .2s;
}
.products-tab:hover{
    color: rgb(103, 157, 103);
}
.products-tab:active{
    color: rgb(59, 98, 59);
}
.pricing-tab{
    transition: .2s;
}
.pricing-tab:hover{
    color: rgb(103, 157, 103);
}
.pricing-tab:active{
    color: rgb(59, 98, 59);
}
.resources-tab{
    transition: 0.16s; 
}
.resources-tab:hover{
    color: rgb(103, 157, 103);
}
.resources-tab:active{
    color: rgb(59, 98, 59);
}

.buttons{
    display: flex;
    width: 11rem;
    justify-content: space-between;
    margin-right: 1rem;
}
.btn{
    padding: 6px 6px;
    font-size: 1rem;
    background-color: rgb(103, 157, 103);
    color: white;
    border: none;
    border-radius: 3px;
    transition: .2s;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: rgb(103, 157, 103);
}
.btn:active{
    background-color: rgb(201, 198, 198);
}

/* Hero section */
.hero-section{
    margin-top: 10rem;
    margin-left: 1rem;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
}
.mottos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20rem;
}
.motto-main{
    font-size: 5rem;
    width:45rem;
    color: rgb(170, 165, 165);
}
.motto-sub{
    color: rgb(170, 165, 165);
    font-size: 1rem;
    width: 20rem;
}
.contact-button{
    color: black;
    padding: .4rem .7rem;
    font-size: 1.01rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.19s;
}
.contact-button:hover{
    background-color: black;
    color: white;
}
.contact-button:active{
    opacity: .7;
}
.main{
    margin:3rem 1.5rem ;
}
.service-cards{
    display: flex;
    justify-content: space-evenly;
}
.card-top{
    /* margin-bottom: .5rem; */
    color: rgb(170, 165, 165);
    font-weight: bold;
    text-transform: capitalize;
}
.card-photo img{
    height: 20rem;
    border-radius: 10px;
    transition: .2s;
    cursor: pointer;
}
.card-bottom{
    /* margin-top: 1rem; */
    font-size: .8rem;
    width: 15rem;
    color: rgb(170, 165, 165);
}
.card-photo img:hover{
    scale: 1.05;
}
.card-photo img:active{
    opacity: .7;
}
.card1{
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: space-around;
}
.card2{
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: space-around;
}
.card3{
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: space-around;
}
.card4{
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: space-around;
}
